body {
    margin:0;
    padding:0;
}

body .youtube-playlist-training {
    width: 100%;
    margin: auto;
}

div.ypt-page-title > h1 {
    font-family:sans-serif;
    margin-bottom:11px;
}

div.ypt-data-container .ypt-video-menu .ypt-menu-card:hover .ypt-menu-text h1.ypt-menu-heading {
    color:#FF0000;
}

div.ypt-data-container .ypt-video-menu .ypt-menu-card:hover {
    background-color:#f3f3f3;
}
div.ypt-data-container .ypt-video-menu .ypt-menu-card {
    background-color:white;
    transition:0.2s;
    width:100%;
    position:relative;
    box-shadow: 2px 2px 8px #c3c3c3;
    padding: 0;
    clear: both;
    height:80px;
    margin-top:10px;
    border-radius:5px;
}
div.ypt-data-container .ypt-video-menu .ypt-menu-card .ypt-card-image img {
    float:left;
    position:absolute;
    height:100%;
    border-radius:6px 0 0 6px;
}
div.ypt-data-container .ypt-video-menu .ypt-menu-card .ypt-menu-text {
    margin-left:143px;
    padding:10px;
}

div.ypt-data-container .ypt-video-menu .ypt-menu-card .ypt-menu-text h1.ypt-menu-heading {
    font-family:sans-serif;
    color: black;
    text-decoration: none;
    margin:0;
    font-size:15px;
}

div.ypt-data-container .ypt-video-menu .ypt-menu-card .ypt-menu-text i.ypt-menu-duration {
    font-family:sans-serif;
    color: black;
    text-decoration: none;
    margin:0;
    font-size:12px;
}


div.ypt-data-container .ypt-video-menu a {
    text-decoration: none;
}

div.ypt-page-title > div > img {
    width: 35px;
    border-radius: 5px;
    display: inline-block;
}

div.ypt-page-title > div > p {
    display: inline-block;
    margin-left: 10px;
    font-family: sans-serif;
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.ypt-data-container > div.ypt-video-menu {
    width:36%;
    display:inline-block;

}

div.ypt-data-container > div.ypt-page-info {
    width: calc(64% - 40px);
    float: right;
    display: inline-block;
    padding: 20px;
}
.ypt-transcript span {
    font-family:sans-serif;
    cursor:pointer;
}

.ypt-transcript span:hover {
    background:rgb(255, 238, 0);
}
.ypt-transcript span.ypt-active {
    background:rgb(253, 247, 165);
}

.ypt-data-container {
    width:100%;
    max-width: 1100px;
    margin:auto;
}

.ypt-responsive-container {
    position: relative;
width: 100%;
max-width: 1100px;
height: 0;
padding-bottom: 43%;
margin: auto;
}

.ypt-responsive-container iframe {
    position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
}
.ypt-video-container {
    width: 100%;
background: black;
}

.ypt-header-container {
    width: 100%;
max-width: 1100px;
margin: auto;
}